<!-- <input
  type="text"
  name=""
  id=""
  placeholder="Enter Client Id"
  [(ngModel)]="clientID"
/>
<button (click)="clientID = ''">Reset new</button>
<br />
<br />
<a id="LoginWithAmazon" (click)="handleLogin()" *ngIf="clientID.length">
  <img
    border="0"
    alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156"
    height="32"
  />
</a>
<br />
{{ code | async }} -->

<a
id="LoginWithAmazon"
class="amazon-login-button clickable"
href="https://sellercentral.amazon.in/apps/authorize/consent?application_id=amzn1.sp.solution.915754bc-04ae-42b5-bb28-47cb5f11ebdc&version=beta&state=1234"
target="_blank"
>
<img
  [src]="
    'https://assets.hyperinvento.com/www_hyperads_com/assets/images/amazon-button-image-1.svg'
  "
  alt="Login with Amazon"
/>
</a>
<br>
<br>
CODE : {{ code | async }}
<br>
<br>
selling partner id: {{selling_partner_id | async}}